* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  display: block;
}
.topbar-container {
  position: relative;
  width: 96vw;
  height: 7.1vh;
  margin: 0 auto;
}
.nav {
	margin:1vh 0;
	padding:0;
	overflow: hidden;
  text-align: center;
}
.nav li {
  list-style: none;
  float: left;
}
.nav-link {
	width: 24vw;
  font: 700 2vw 'Manrope', sans-serif;
  color: black;
  height: 7vh;
  text-decoration: none;
  margin-top: 2.5vh;
}
.header {
  height: 12vh;
  background-color: #ff5900;
}
h1 {
  font: 300 7vw 'Manrope', sans-serif;
  text-align: center;
}
.content-container {
  width: 75vw;
  margin: 100px auto;
  padding: 30px;
  background-color: #d6d6d6;
}
@media screen and (max-width:320px) {
  .content-container {
    width: 100vw;
    margin: 30px auto;
    padding: 0;
    background-color: #d6d6d6;
  }
}
img {
  height: 50%;
  width: 50%;
  margin: 0 auto;
  padding: 30px;
  display: block;
}
@media screen and (max-width:320px) {
  img {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: block;
  }
}
h2 {
  font: 700 1.3em 'Manrope', sans-serif;
  text-align: left;
  line-height: 30px;
  padding: 20px;
}
h4 {
  font: 400 1.1em 'Manrope', sans-serif;
  text-align: left;
  line-height: 30px;
  padding: 20px;
}
p {
  font: 400 1em 'Manrope', sans-serif;
  text-align: left;
  line-height: 30px;
  padding: 5px 20px;
}
.list {
  list-style: inside;
  font: 400 1em 'Manrope', sans-serif;
  line-height: 30px;

}
.footer {
  text-align: center;
  font: 700 2vw 'Manrope', sans-serif;
  padding-top: 3vh;
  height: 8vh;
  border-top: 2px solid #7F8487;
}






