* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  display: block;
}
.topbar-container {
  position: relative;
  width: 96vw;
  height: 7.1vh;
  margin: 0 auto;
}
.nav {
	margin:1vh 0;
	padding:0;
	overflow: hidden;
  text-align: center;
}
.nav li {
  list-style: none;
  float: left;
}
.nav-link {
	width: 24vw;
  font: 700 2vw 'Manrope', sans-serif;
  color: black;
  height: 7vh;
  text-decoration: none;
  margin-top: 2.5vh;
}
.header {
  height: 15vh;
  background-color: #ff5900;
}
h1 {
  font: 300 10vw 'Manrope', sans-serif;
  text-align: center;
}
.blog-list {
  font: 400 3em 'Manrope', sans-serif;
  text-align: center;
  padding: 5px 20px;
  line-height: 100px;
}
@media screen and (max-width: 320px) {
  .blog-list {
   font: 200 1.2em 'Manrope', sans-serif;
   text-align: center;
   padding: 50px 20px;
   line-height: 50px;
  } 
 }